.wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.itemsList {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.checkItem {
    display: flex;
    justify-content: space-between;
    width: 200px;
    font-size: 1rem;
}

input {
    width: 25px;
    height: 25px;
    cursor: pointer;
}